
@{
    ViewBag.Title = "colorizedResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>colorizedResult</h2>
@model List<string>


<div>

    <h1> First Name @ViewBag.Fname</h1>
    <h1> First Name @ViewBag.Lname</h1>

    @foreach (var item in Model)
    {
        <h1 style="color:@item">@ViewBag.Fname</h1>
    }
</div>
